Django
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
pymongo
python-dotenv
django-redis
redis
celery
drf-yasg
gunicorn
python-dateutil
django-crontab
django-cors-headers
gunicorn
cloudinary 
django-cloudinary-storage
Pillow